##################################
# Template v1.0
##################################

##################################
# Intellij specific files
##################################
.idea
*.iws
*.iml
*.ipr

##################################
# Maven
##################################
**/target/**

##################################
# Java
##################################
*.class
*.jar
*.war
*.ear

##################################
# restricted file formats
##################################
*.zip
*.exe
*.tar.gz
*.rar

##################################
# Log files
##################################
/logs/
